.react-paginate ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

.react-paginate li {
    display: inline-block;
}

.tabler-invalid-feedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 87.5%;
    color: #cd201f;
}
